{
    "extends": "airbnb-base",
    "rules": {
        "func-names": [
            "error",
            "never"
        ],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "test/**.js",
                    "make.js"
                ]
            }
        ]
    },
    "env": {
        "browser": true
    }
}